@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<address>
    <strong>Email:</strong> <a href="mailto:juaumjg@hotmail.com">Meu email para contato</a><br />
    <strong>Linkedin:</strong> <a href="https://www.linkedin.com/in/dev-joao-franca/">Linkedin para contato</a>
</address>
